---
import BaseLayout from "../../layouts/BaseLayout.astro";
// TODO switch to an Astro Island (away from jQuery)
---
<BaseLayout title="FIRST® Alumni & Mentors Network at Michigan">
    
    <form class="w-50 mx-auto attendance-form">
        <br>
        <div class="alert alert-success" role="alert" id="meetingSuccessAlert" style="display: none;">
            Meeting submitted successfully!
        </div>
        <div class="alert alert-danger" role="alert" id="meetingFailAlert" style="display: none;">
            Error submitting meeting. Please contact the webmaster for help.
        </div>

        <div class="py-4 mx-auto d-flex justify-content-between">
            <h1 class="col-10">FAMNM Attendance Form</h1>
            <div class="col text-end">
                <a href="/attendance/view" class="btn famnm-btn-secondary">History</a>
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <div class="col-sm-3">
                <label for="meetingType" class="col-form-label">Meeting Type</label>
            </div>
            <div class="col">
                <select class="form-select" id="meetingType">
                    <!-- Filled by JavaScript -->
                </select>
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-sm-3">
                <label for="meetingDate" class="col-form-label">Date</label>
            </div>
            <div class="col">
                <input type="date" id="meetingDate" class="form-control" />
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-sm-3">
                <label for="uniqname" class="col-form-label">Attendees</label>
            </div>
            <div class="col input-group">
                <input type="text" id="uniqname" class="form-control" placeholder="Uniqname...">
                <button type="button" class="btn btn-primary" id="addUniqname">&plus;</button>
            </div>
            <div id="uniqname-buttons">
                <!-- Filled by JavaScript -->
            </div>
        </div>
        
        <button type="button" class="btn famnm-btn my-3" data-bs-toggle="modal" data-bs-target="#confirmMeeting" id="confirm">Confirm</button>
    </form>
    
    <!-- Modal -->
    <div class="modal fade" id="confirmMeeting" tabindex="-1" role="dialog" aria-labelledby="confirmMeetingTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmMeetingTitle">Confirm Submission</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modalError" style="color:red"><!-- Filled by JavaScript --></div>

                    <h2>Meeting Details</h2>
                    <p id="modalMeetingType">Meeting Type: <!-- Filled by JavaScript --></p>
                    <p id="modalDate">Date: <!-- Filled by JavaScript --></p>

                    <h2>Meeting Attendees</h2>
                    <div id="modalAttendees"><!-- Filled by JavaScript --></div>
                    <div id="newMembersWarning" class="text-success invisible">
                        <!-- Made visible by JavaScript -->
                        Green indicates new members (or typos)
                    </div>
                </div>
                <div class="modal-footer d-flex">
                    <form class="me-auto">
                        <input type="password" id="passphrase" placeholder="Passphrase">
                        <small id="incorrectPassphrase" class="form-text text-muted" style="display: none !important;">Incorrect Passphrase</small>
                    </form>
                    <button type="button" class="btn famnm-btn submit-meeting" id="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script slot="scripts">
        let attendees = [];

        const backendUrl = "https://famnm-website-backend.herokuapp.com/api/v2";
        const defaultMeetingType = "------";

        function enterUniqname() {
            const uniqname = $("#uniqname").val().toLowerCase().replace(/[^a-zA-Z]/g, "");
            const uniqnameExists = attendees.some(elem => elem === uniqname);

            if (uniqname.length > 0 && !uniqnameExists) {
                if (/^[a-z]{3,8}$/.test(uniqname)) {
                    attendees.push(uniqname);

                    $("#uniqname-buttons").empty();
                    attendees.forEach(elem => {
                        let newButton = $("<button></button>");
                        newButton.attr("type", "button");
                        newButton.addClass("btn")
                                .addClass("btn-outline-secondary")
                                .addClass("mx-3")
                                .addClass("my-3")
                                .addClass("uniqname-btn");
                        newButton.text(elem);
                        newButton.click(() => {
                            attendees = attendees.filter(elem => elem !== newButton.text());
                            newButton.remove();
                        });

                        $("#uniqname-buttons").append(newButton);
                    });
                } else {
                    alert(`The uniqname ${uniqname} is not valid. All uniqnames consist of 3-8 letters.`);
                }
            }

            $("#uniqname").val("");
        }

        function currentLocalDate() {
            const t = new Date();
            
            return new Date(t - t.getTimezoneOffset() * 60 * 1000);
        }
            
        function disableSubmit(message) {
            $("#modalError").append($(`<p>${message}</p>`));
            $(".submit-meeting").attr("disabled", true);
            $("#passphrase").attr("disabled", true);
        }
            
        function resetModal() {
            $("#modalError").empty();
            $("#modalMeetingType").empty();
            $("#modalDate").empty();
            $("#modalAttendees").empty();
            $("#newMembersWarning").addClass("invisible");
            $("#passphrase").val("");
            $("#passphrase").attr("disabled", false);
            $("#incorrectPassphrase").hide();
            $(".submit-meeting").attr("disabled", false);
        }

        async function getMeetingTypes() {
            const response = await fetch(`${backendUrl}/meeting/types`);

            if (!response.ok) throw Error(response.statusText);

            (await response.json()).forEach(type => {
                $("#meetingType").append($(`<option>${type}</option>`));
            })
        }
            
        async function confirmMeeting() {
            resetModal();
            enterUniqname();

            const meetingType = $("#meetingType").children("option:selected").val();
            const meetingDate = $("#meetingDate").val();

            if (meetingType === defaultMeetingType) {
                disableSubmit("Meeting type not selected");
            }

            if (attendees.length === 0) {
                disableSubmit("No attendees");
            }

            $("#modalMeetingType").text(`Meeting Type: ${meetingType}`);
            $("#modalDate").text(`Date: ${meetingDate}`);

            try {
                const response = await fetch(`${backendUrl}/meeting/validate`, {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({
                        meeting_type: meetingType,
                        meeting_date: meetingDate,
                        attendees: attendees
                    })
                });

                if (!response.ok) throw Error(response.statusText);
                const data = await response.json();

                if (data.already_exists) {
                    disableSubmit(`${meetingType} meeting already been recorded on ${meetingDate}`);
                }

                let uniqnameList = $("<ul></ul>");
                attendees.forEach(uniqname => {
                    let uniqnameItem = $(`<li>${uniqname}</li>`);

                    if (data.new_uniqnames.includes(uniqname)) {
                        uniqnameItem.addClass("text-success");
                        $("#newMembersWarning").removeClass("invisible");
                    }

                    uniqnameList.append(uniqnameItem);
                });

                $("#modalAttendees").append(uniqnameList);
            } catch (error) {
                console.log(error);
            }
        }

        async function submitMeeting() {
            const meetingType = $("#meetingType").children("option:selected").val();
            const meetingDate = $("#meetingDate").val();
            const passphrase = $("#passphrase").val();

            $("#passphrase").val("");

            try {
                if (meetingType === defaultMeetingType) {
                    throw Error("meetingType === defaultMeetingType");
                }

                const response = await fetch(`${backendUrl}/meeting`, {
                    headers: {
                        "Content-Type": "application/json",
                        "Authorization": `Basic ${btoa(`famnm:${passphrase}`)}`
                    },
                    method: "POST",
                    body: JSON.stringify({
                        meeting_type: meetingType,
                        meeting_date: meetingDate,
                        attendees: attendees
                    })
                });

                if (response.ok) {
                    attendees = [];

                    $(".attendance-form").trigger("reset");
                    $("#uniqname-buttons").empty();

                    $("#meetingSuccessAlert").show();
                    $("#meetingFailAlert").hide();

                    $("#confirmMeeting").modal("hide");
                    resetModal();
                } else if (response.status === 401) {
                    $("#incorrectPassphrase").show();
                } else {
                    throw Error(response.statusText);
                }
            } catch (error) {
                console.log(error);

                $("#meetingSuccessAlert").hide();
                $("#meetingFailAlert").show();

                $("#confirmMeeting").modal("hide");
            }
        }
        
        $(() => {
            $("#meetingType").append($(`<option>${defaultMeetingType}</option>`));
            getMeetingTypes();
            
            $("#meetingDate").attr("value", currentLocalDate().toISOString().slice(0, 10));
            
            $("#uniqname").keypress(e => {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    enterUniqname();
                }
            });

            $("#addUniqname").click(enterUniqname);
            
            $("#confirm").click(confirmMeeting);
            
            $("#passphrase").keypress(e => {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    submitMeeting();
                }
            });
            
            $("#submit").click(submitMeeting);
        });
    </script>
</BaseLayout>

<style>
    .form-text {
        /* To replicate Bootstrap 4 behavior */
        display: block;
    }
</style>
