---
import { Picture } from '@astrojs/image/components';

interface Props {
    src: ImageMetadata;
    title: string;
    description: string;
    active: boolean;
}

const { src, title, description, active } = Astro.props;

const itemClass = active ? "carousel-item active" : "carousel-item";
---

<div class={itemClass}>
    <Picture src={src} class="carousel-back-image" aria-hidden="true" alt="" widths={[860, 1280, 1920]} />
    <Picture src={src} aria-hidden="true" alt={title} widths={[860, 1280, 1920, 3840]} />
    <div class="carousel-caption d-none d-md-block">
        <h3>{title}</h3>
        <p set:html={description}></p>
    </div>
</div>
