---
import { Img } from 'astro-imagetools/components';

interface Props {
    src: string;
    title: string;
    description: string;
    active: boolean;
}

const { src, title, description, active } = Astro.props;

const itemClass = active ? "carousel-item active" : "carousel-item";
---

<div class={itemClass} role="option" aria-label=`${title}`>
    <Img src={src} attributes={{img: {class: "carousel-back-image", "aria-hidden": "true"}}} alt="" format="webp" placeholder="none" />
    <Img src={src} alt={title} format="webp" objectFit="scale-down" />
    <div class="carousel-caption d-none d-md-block">
        <h3>{title}</h3>
        <p set:html={description}></p>
    </div>
</div>

<style>
    .carousel-caption {
        /* To counter the dark mode design */
        color: white !important;
    }
</style>