---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Carousel from "../../components/index/carousel/Carousel.astro";
import { Img } from "astro-imagetools/components";
import SponsorList from "../../components/SponsorList.astro";
import ThemeSwitcher from "../../components/ThemeSwitcher.astro";
import FIRST from "../../components/FIRST.astro";
import Link from "../../components/Link.astro";

// function hoursToTime(hours: number): string {
//     function padZero(_in: any) {
//         let s = `${_in}`;
//         while (s.length < 2) s = '0' + s;
//         return s;
//     }
//     const ampm = hours >= 12 ? 'PM' : 'AM';
//     const displayHourMinutes = (hours + 11) % 12 + 1;
//     const displayHour = Math.floor(displayHourMinutes);
//     const displayMinute = Math.round((displayHourMinutes - displayHour) * 60);
//     return `${padZero(displayHour)}:${padZero(displayMinute)} ${ampm}`;
// }

// const scheduleTimes = (() => {
//     const times = [];
//     for (let hour = 9; hour <= 17; hour += 0.5) {
//         times.push(hoursToTime(hour));
//     }
//     return times;
// })();

const carouselItems = [
    {
        title: 'Engineering Organization Fair',
        description: 'Teams learn about Michigan Engineering\'s various student organizations along with the new Undergraduate Robotics program',
        src: "/img/kickoff/2023/org-fair-ground.jpeg",
    },
    {
        title: 'Michigan Robotics Presentation',
        description: 'Damen Provost, the Managing Director of the University of Michigan Robotics Institute, introduces the institute\'s mission and opportunities to teams',
        src: "/img/kickoff/2023/rob-presentation.jpeg",
    },
    {
        title: 'The FAMNM Event Crew',
        description: 'From parking assistance to breakout room supervision, FAMNM members and affiliated volunteers ensure a smooth kickoff experience',
        src: "/img/kickoff/2023/event-crew.jpeg",
    },
    {
        title: 'Kit Distribution On Site',
        description: 'FAMNM distributes the new Kit of Parts for <i>CHARGED UP</i> to attending teams',
        src: "/img/kickoff/2023/kit-distribution.jpeg",
    }
];
---
<BaseLayout title="FRC Kickoff | FIRST® Alumni & Mentors Network at Michigan">
    <main>
        <div class="container content">
            <div class="row justify-content-center pb-4">
                <div class="col col-8 col-md-6 col-lg-4 mx-auto p-4 p-md-5">
                    <a href="https://www.firstinspires.org/robotics/frc/game-and-season" aria-label="CRESCENDO season information" rel="noopener noreferrer" target="_blank">
                        <ThemeSwitcher>
                            <span slot="light">
                                <Img attributes={{img: {class: "center w-100"}}} format="webp" src="/img/kickoff/2024/season_logo_light.png" alt="CRESCENDO, presented by Haas" placeholder="none" />
                            </span>
                            <span slot="dark">
                                <Img attributes={{img: {class: "center w-100"}}} format="webp" src="/img/kickoff/2024/season_logo_dark.png" alt="CRESCENDO, presented by Haas" placeholder="none" />
                            </span>
                        </ThemeSwitcher>
                    </a>
                </div>
                <div class="col col-12 mt-1 mt-md-2">
                    <h1 class="display-6 fw-bold">FAMNM <i>FIRST<sup>&reg;</sup></i> Robotics Competition Kickoff</h1>
                    <p>
                        FAMNM will hold a kickoff for the 2024 FRC season,
                        <i>CRESCENDO</i>, on <time datetime="2024-01-06">Saturday, January 6th, 2024</time>
                        at the University of Michigan's <Link to="https://goo.gl/maps/SviBGJZca11mxoX19">North Campus</Link>.
                        To sign up, please register for this event on FIRST's website,
                        and then fill out the following form.
                    </p>
                </div>
                <div class="col col-12 mt-1 mt-md-2 gap-2 d-grid d-sm-flex justify-content-sm-center">
                    <a class="btn famnm-btn-secondary btn-lg gap-3"
                            rel="noreferrer noopener"
                            target="_blank"
                            href="https://www.firstinspires.org/sites/default/files/uploads/resource_library/frc/events/kickoff/frc_kickoff_instructions.pdf">
                        Register with FIRST
                    </a>
                    <a class="btn famnm-btn-secondary btn-lg gap-3"
                            rel="noreferrer noopener"
                            target="_blank"
                            href="https://docs.google.com/forms/d/e/1FAIpQLSf5AqbloeG3BB6XkObmvOV6a9Rh6wUlhCWAJrUyJC1n0LJwtQ/viewform?usp=sf_link">
                        Register with FAMNM
                    </a>
                </div>
            </div>
        </div>
        <Carousel id="kickoff-carousel" images={carouselItems} />
        <div class="container content">
            <div class="row pt-2">
                <h3>Sponsors</h3>
                <SponsorList sponsors={["esg", "coe"]} />
            </div>
        </div>
    </main>
    <!-- <style>
        .schedule-time {
            text-align: right;
            line-height: 100%;
            width: 5.5rem;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(-15px);
            padding: 4px;
            border-radius: 6px;
            border: 1px solid #888888;
            background-color: #dfdfdf;
            font-weight: bold;
            grid-column: 1;
        }

        .schedule-time-border {
            border-top: 1px solid #888888;
            margin-top: -2px;
            grid-column: 1/-1;
        }

        #schedule-table td {
            padding: 2px;
            vertical-align: middle;
            margin: 2px;
            font-size: 1.1rem;
        }

        #schedule-table {
            max-width: 42rem;
            display: grid;
            gap: 4px;
            grid-template-columns: 5.8rem repeat(3, 8px) 1fr repeat(3, 4px) repeat(3, 8px) 1fr repeat(3, 4px);
            grid-template-rows: repeat({{ page.schedule.times | size }}, 48px);
        }

        #schedule-table .event {
            font-size: 0.9rem;
            padding: 4px;
            background-color: var(--event-background);
            border-left: 6px solid var(--event-color);
            border-top: 1px solid var(--event-color);
            border-right: 1px solid var(--event-color);
            border-bottom: 1px solid var(--event-color);
            border-radius: 0.25rem;
            text-align: left;
            line-height: 115%;
            vertical-align: top;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .event-indent-0 {
            --event-color: #003368;
            --event-background: #a3bdda;
        }

        .event-indent-1 {
            --event-color: #005269;
            --event-background: #9ec7d3;
        }

        .event-indent-2 {
            --event-color: #006966;
            --event-background: #a2dad8;
        }

        [v-cloak] {
            display: none;
        }

        .text-location {
            color: #545454;
        }

        .text-location:not([disabled="true"]):after {
            content: "↗";
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .text-location[disabled="true"] {
            pointer-events: none;
            cursor: not-allowed;
        }
    </style> -->
</BaseLayout>